/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-family: 'Comic Sans MS';
    background-color: #FFC0CB;
}



/* Set widths on the form inputs since otherwise they're 100% wide */




.gridHidden
{
    display: none;
}

.btnIcon
{
    height: 30px;
    width: 30px;
}

btnGrid
{
    height: 20px;
    width: 20px;
}

/* GRID */

.grid { 
    width: 900px; 
    background-color: #fff; 
    margin: 5px 0 10px 0; 
    border: solid 1px #525252; 
    border-collapse:collapse; 
}
.grid td { 
    padding: 2px; 
    border: solid 1px #c1c1c1; 
    color: #717171; 
}
.grid th { 
    padding: 4px 2px; 
    color: #fff; 
    background: #424242 url(grd_head.png) repeat-x top; 
    border-left: solid 1px #525252; 
    font-size: 0.9em; 
}
.grid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }
.grid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }
.grid .pgr table { margin: 5px 0; }
.grid .pgr td { 
    border-width: 0; 
    padding: 0 6px; 
    border-left: solid 1px #666; 
    font-weight: bold; 
    color: #fff; 
    line-height: 12px; 
 }   
.grid .pgr a { color: #666; text-decoration: none; }
.grid .pgr a:hover { color: #000; text-decoration: none; }

.mGrid { 
    width: 900px; 
    background-color: #fff; 
    margin: 5px 0 10px 0; 
    border-collapse:collapse; 
}
.mGrid td { 
    padding: 2px; 
    color: #717171; 
    height: 70px;
    background: linear-gradient(to bottom, #FFC0CB, white);
}
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }
.mGrid .pgr table { margin: 5px 0; }
.mGrid .pgr td { 
    border-width: 0; 
    padding: 0 6px; 
    font-weight: bold; 
    color: #fff; 
    line-height: 12px; 
 }   
.mGrid .pgr a { color: #666; text-decoration: none; }
.mGrid .pgr a:hover { color: #000; text-decoration: none; }